* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    padding: 60px;
    background-color: #1A374D;
    color: #6998AB;
    text-align: left; 
    font-family: Comic Sans MS;
    font-weight:bold;
}

input {
    font-size: 2rem;
    width: 100%;
    color: #406882;
    padding: 12px 20px;
    box-sizing: border-box;
    background-color: #B1D0E0;
    
}
.titulo{
    text-align: left; 
    font-family: Comic Sans MS; 
    font-weight:bold; 
    font-size: 30px; 
    color:#B1D0E0 ; 
    
}
.card-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
     ;


}

.card{
    align-content: center;
    border: 3px solid white;
    border-radius: 6px;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
    background-color:#6998AB;
    max-height: 300px;
    max-width: 300px;
}

.card p{
    padding: 5px;
    text-align:center;
    color: #406882;

}

.card img{
    max-height: 300px;
    max-width: 300px;
}







